body {
    margin: 0;
    padding: 0;
}

.about-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.about-image {
    max-width: 300px;
    margin-right: 30px;
}

.about-image img {
    max-width: 100%;
    border-radius: 50%;
}

.about-description {
    max-width: 500px;
}

.about-description h1 {
    font-size: 36px;
}

.about-description p {
    font-size: 18px;
}